<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <div>
        <h2>Üdvözöljük <span th:text="${user.username}"></span>!</h2>
        <h2>Szerepkörök:</h2>
        <ul>
            <li th:each="role: ${user.roles}">
                <span th:text="${role.name"></span>
            </li>
        </ul>
    </div>
    <div>
        <div>
            <a th:href="@{/admin}"><button>Adminisztrációs oldal</button></a>
        </div>
        <div>
            <a th:href="@{/invoiceList}"><button>Számlák listája</button></a>
        </div>
        <div>
            <form action="#" th:action="@{/invoice}" th:object="${invoice}" method="post">
                <div>
                    <label for="customer">Vásárló</label>
                    <input type="text" id="customer" th:field="*{customer}"/>
                </div>
                <div>
                    <label for="postDate">Kiállítás dátuma</label>
                    <input type="date" id="postDate" th:field="*{postDate}"/>
                </div>
                <div>
                    <label for="deadline">Vásárló</label>
                    <input type="date" id="deadline" th:field="*{deadline}"/>
                </div>
                <div>
                    <label for="itemNo">Vásárló</label>
                    <input type="text" id="itemNo" th:field="*{itemNo}"/>
                </div>
                <div>
                    <label for="comment">Vásárló</label>
                    <input type="text" id="comment" th:field="*{comment}"/>
                </div>
                <div>
                    <label for="price">Vásárló</label>
                    <input type="text" inputmode="numeric" pattern="\d*" id="price" th:field="*{price}"/>
                </div>
                <div>
                    <button type="submit">Számla megtekintése</button>
                </div>
            </form>
        </div>
        <div>
            <a th:href="@{/invoiceCreate}"><button>Számla létrehozása</button></a>
        </div>
    </div>
</body>
</html>