<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin</title>
</head>
<body>
    <div>
        <p th:if="${errorMessage != ''}" th:text="${errorMessage}"></p>
    </div>
    <div>
        <form action="#" th:action="@{/backToHome}" method="post">
            <input type="hidden" name="userDto" th:value="${userDto.username}">
            <button type="submit">Vissza</button>
        </form>
    </div>
    <table>
        <tr>
            <th>Username</th>
            <th>Roles</th>
            <th>Delete</th>
        </tr>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td>
                <form method="post" th:action="@{/admin/saveRoles}">
                    <input type="hidden" name="userDto" th:value="${userDto.username}">
                    <input type="hidden" name="username" th:value="${user.username}" />
                    <select multiple name="selectedRoles">
                        <option th:each="role : ${roles}"
                                th:value="${role.name}"
                                th:text="${role.name}"
                                th:selected="${user.roles.contains(role)}"></option>
                    </select>
                    <button type="submit">Save</button>
                </form>
            </td>
            <td>
                <form method="post" th:action="@{/admin/deleteUser}">
                    <input type="hidden" name="userDto" th:value="${userDto.username}">
                    <input type="hidden" name="username" th:value="${user.username}" />
                    <button type="submit">Delete</button>
                </form>
            </td>
        </tr>
    </table>
</body>
</html>