<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Számla</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{static/invoice.css}">
</head>
<body>
    <div id="main">
        <div>
            <form action="#" th:action="@{/invoice/back}" method="post">
                <input type="hidden" name="userDto" th:value="${userDto.username}">
                <input type="hidden" name="backPage" th:value="${backPage}">
                <button type="submit">Vissza</button>
            </form>
        </div>
        <div id="details">
            <form action="#" th:object="${invoiceDto}">
                <div>
                    <label for="customer">Vásárló</label>
                    <input type="text" id="customer" th:field="*{customer}" disabled="true"/>
                </div>
                <div>
                    <label for="postDate">Kiállítás dátuma</label>
                    <input type="date" id="postDate" th:field="*{postDate}" disabled="true"/>
                </div>
                <div>
                    <label for="deadline">Határidő</label>
                    <input type="date" id="deadline" th:field="*{deadline}" disabled="true"/>
                </div>
                <div>
                    <label for="itemNo">Tétel neve</label>
                    <input type="text" id="itemNo" th:field="*{itemNo}" disabled="true"/>
                </div>
                <div>
                    <label for="comment">Megjegyzés</label>
                    <input type="text" id="comment" th:field="*{comment}" disabled="true"/>
                </div>
                <div>
                    <label for="price">Ár</label>
                    <input type="text" inputmode="numeric" pattern="\d*" id="price" th:field="*{price}" disabled="true"/>
                </div>
            </form>
        </div>
    </div>
</body>
</html>