<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Bejelentkezés</title>
</head>
<body>
    <div>
        <form action="#" th:action="@{/login}" th:object="${userDto}" method="post">
            <div>
                <label for="username">Username:</label>
                <input type="text" id="username" th:field="*{username}" required/>
            </div>
            <div>
                <label for="password">Password:</label>
                <input type="password" id="password" th:field="*{password}" required/>
            </div>
            <div>
                <button type="submit" id="loginButton" disabled="true">Login</button>
            </div>
        </form>
    </div>
    <div>
        <form action="#" th:action="@{/goToRegister}" method="post">
            <button type="submit">Regisztráció</button>
        </form>
    </div>
    <script>
        const usernameInput = document.getElementById('username');
        const passwordInput = document.getElementById('password');
        const loginButton = document.getElementById('loginButton');

        usernameInput.addEventListener('input', toggleLoginButton);
        passwordInput.addEventListener('input', toggleLoginButton);

        function toggleLoginButton() {
            if (usernameInput.value !== '' && passwordInput.value !== '') {
                loginButton.disabled = false;
            } else {
                loginButton.disabled = true;
            }
        }
    </script>
</body>
</html>