<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Regisztráció</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" th:href="@{static/login.css}">
</head>
<body>
    <div id="main">
        <div style="margin: 1em;">
            <form action="#" th:action="@{/back}" method="post">
                <button type="submit">Vissza</button>
            </form>
        </div>
        <div>
            <form action="#" th:action="@{/register}" th:object="${userDto}" method="post">
                <div th:if="${errorMessage != ''}">
                    <h1 th:text="${errorMessage}"></h1>
                </div>
                <div>
                    <label for="username">Username:</label>
                    <input type="text" id="username" th:field="*{username}" required/>
                </div>
                <div>
                    <label for="password">Password:</label>
                    <input type="password" id="password" th:field="*{password}" required/>
                </div>
                <div>
                    <select name="selectedRole">
                        <option th:each="role : ${roles}" th:text="${role.name}" th:value="${role.name}"></option>
                    </select>
                </div>
                <div style="margin: 1em;">
                    <button type="submit" id="registerButton" disabled="true">Regisztráció</button>
                </div>
            </form>
        </div>
    </div>
    <script>
        const usernameInput = document.getElementById('username');
        const passwordInput = document.getElementById('password');
        const registerButton = document.getElementById('registerButton');

        usernameInput.addEventListener('input', toggleRegisterButton);
        passwordInput.addEventListener('input', toggleRegisterButton);

        function toggleRegisterButton() {
            if (usernameInput.value !== '' && passwordInput.value !== '') {
                registerButton.disabled = false;
            } else {
                registerButton.disabled = true;
            }
        }
    </script>
</body>
</html>